.container {
  display:flex;
  height:100%;
  align-items:flex-start;
}

.panel {
  display:flex;
}

/*#board {
  width:100vh%;
  height:100vh;
  background:#9b59b6;
  /*flex-shrink: 0*/
/*}*/

#info {
  width:25%;
  height:100%;
  background:#3498db;
}

#actions {
  width:25%; 
  height:100%;
  background:#1abc9c;
}

